<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
#set( $includeAutocompleteFindings = false )
#set( $includeAutocompleteDiagnosis = true )

###macro (xdatRadioButtonGroupMap $name $item $radioKeys $radioValues $vr)
####	#if ($vr)
####		#if($vr.getField($name))
####        <span style="color:red;">&#8658</span>
####		#end
####	#end
####	#if($item.isPKField($name) && (!$vr.getField($name)))
####    <input id="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
####		$item.getProperty($name)
####	#else
##		#if ($radioKeys.size()==0)
##        <input id="$name" type="text" name="$name" value="$item.getProperty($name)"/>
##		#else
##			#foreach ($radioCounter in [1..$radioKeys.size()])
##            <input type="radio" name="$name" value="$radioValues[$radioCounter]" #if($radioValues[$radioCounter].equals($item.getProperty($name))) checked #end />&nbsp;$radioKeys[$radioCounter]
##			#end
##		#end
####	#end
###end


$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyItem")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<hr size="1" style="color:#ccc" />
#end
#set($mr=$om.getImageSessionData())

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
<TABLE width="100%">
				<TR>
					<TD align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:20px;"><b>Adult Radiological Assessment</b></font></TD>
				</TR>
				</TR>
								<TR>
					<TD align="left">$item.getProperty("ID") / $item.getProperty("label")</TD>
				</TR>
			  <input type="hidden" name="rad:radiologyReadData/ID" value="$item.getProperty("ID")"/>
			  <input type="hidden" name="rad:radiologyReadData/label" value="$item.getProperty("label")"/>
			  <input type="hidden" name="rad:radiologyReadData/project" value="$item.getProperty("project")"/>
			</TABLE>
			
			#xdatHiddenBox("rad:radiologyReadData/imageSession_ID" $item "")
			#set($modality=$mr.getXSIType().replace("SessionData","").replace("xnat:","").toUpperCase()) ##hacky way to get modality
         #xdatHiddenBox("rad:radiologyReadData/modality" $item $modality)
			<P><TABLE align="left" width="100%">
				<TR>
			<TD>
				<HR>
				<TABLE align="left">
					<TR><TH align="left">Session Id: </TH>
					#set($mr_id=$item.getProperty("imageSession_ID"))
               #set($xsi_type=$mr.getXSIType())
               #set($xsi_type_idstr="${xsi_type}.ID")
				#if ($mr)
					#set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element',$xsi_type).addPathInfo('search_field',$xsi_type_idstr).addPathInfo('search_value',$mr_id).addPathInfo('popup',true).addPathInfo('project',$project)', '','600','800');" )
				  <TD><A CLASS=b href="#" onClick="$click">$!mr.getIdentifier($project)</A></TD>
					#else
						<TD>$!item.getProperty("imageSession_ID")</TD>
					#end
					</TR>
					<TR><TH align="left" width=200>Session Date: </TH><TD>$!mr.getDate()</TD></TR>
					<TR><TH align="left">Participant: </TH><TD>$!mr.getSubjectData().getIdentifier($project,false)</TD></TR>
					<TR align="left"><TH ALIGN="left">Gender: </TH><TD>$!mr.getSubjectData().getGenderText()</TD></TR>
					<TR align="left"><TH ALIGN="left">Age:</TH><TD>$!mr.SubjectAge</TD></TR>
				</TABLE>

					</TD>
				</TR>
			</TABLE>

		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top"> 
									<HR>
						<TABLE>
                <tr><td valign="top" style="padding-top: 4px">Date</td><td>#xdatDateBox("rad:radiologyReadData/date" $item $vr $years)</td></tr>
                <tr><td valign="top" style="padding-top: 4px">Reader</td><td>#xdatStringBoxWSize("rad:radiologyReadData/reader" $item $fullname $vr 40) </td></tr>
				
                #set($examValues = ["Brain with contrast","Brain without contrast","Spine with contrast","Spine without contrast","Brain and Spine with contrast","Brain and Spine without contrast"])
				
				<TR><TD valign="top" style="padding-top: 4px">Exam</TD><TD>#xdatSelectBoxWSingleValue("rad:radiologyReadData/exam" $item $examValues $vr)</TD></TR>
				<tr><td valign="top" style="padding-top: 4px">History</td><td>#xdatStringBoxWSize("rad:radiologyReadData/history" $item "${project}" $vr 40)</td></tr>
                <tr><td valign="top" style="padding-top: 4px">Technique</td><td>#xdatTextArea("rad:radiologyReadData/technique" $item "Axial T1w, T2w, and T2*" $vr 4 40)</td></tr>
                <TR><TD valign="top" style="padding-top: 4px">Comparison</TD><TD>
							<table align="left" cellpadding="0" cellspacing="0"><tr><td align="left">
				<SELECT id="SEL_rad:radiologyReadData/comparison" name="SEL_rad:radiologyReadData/comparison"  ONCHANGE="setSelectValue(this);sessionComparison();">
					<OPTION VALUE="">(SELECT)</OPTION>
					#foreach($expt in $mr.getSubjectData().getExperiments_experiment("xnat:imageSessionData"))
									#if($expt.getId().equals($mr.getId()))
									
									#else
									   <OPTION value="$expt.getId()" #if($expt.getId().equals($item.getProperty("rad:radiologyReadData/comparison"))) SELECTED #end>$!expt.getLabel() ($!expt.getDate():$expt.getId())</OPTION>
									#end
								  #end
					<OPTION VALUE="">CUSTOM</OPTION>
				</SELECT>			</td><td align="left"><DIV ID="IND_rad:radiologyReadData/comparison"><a ID="A_rad:radiologyReadData/comparison" ONCHANGE="showText(this);"></DIV>
				</td><td>
				<DIV ID="TEXT_rad:radiologyReadData/comparison" style="display:none"> Enter: <input id="rad:radiologyReadData/comparison" type="text" name="rad:radiologyReadData/comparison" onkeydown="if(event.keyCode==13)document.getElementById('comparisonButton').click()" value="$!item.getProperty("rad:radiologyReadData/comparison")"/><a href="#" id="comparisonButton" onClick="javascript:comparisonSubmit();"><img src="$content.getURI("/images/arrow3.gif")" border="0"></a></DIV>
				</td></tr></table>
				</TD></TR>
				<tr>
					<td valign="top" style="padding-top: 4px">Findings
					</td>
					<td>
						<table>
							#set( $hip =  "rad:radiologyReadData/hippocampal_atrophy")
							#set($hipi = "$!{item.getProperty($hip)}")
							<tr bgcolor="#F0F0F0"><td>Hippocampal Atrophy</td><td><label><input type="radio" name="rad:radiologyReadData/hippocampal_atrophy" value="not able to assess" #if($item.getProperty("rad:radiologyReadData/hippocampal_atrophy").equals("none")) checked #elseif($hipi == "") checked #end>none</label><label><input type="radio" name="rad:radiologyReadData/hippocampal_atrophy" value="mild" #if($item.getProperty("rad:radiologyReadData/hippocampal_atrophy").equals("mild")) checked #end>mild</label><label><input type="radio" name="rad:radiologyReadData/hippocampal_atrophy" value="moderate" #if($item.getProperty("rad:radiologyReadData/hippocampal_atrophy").equals("moderate")) checked #end>moderate</label><label><input type="radio" name="rad:radiologyReadData/hippocampal_atrophy" value="severe" #if($item.getProperty("rad:radiologyReadData/hippocampal_atrophy").equals("severe")) checked #end>severe</label><label><input type="radio" name="rad:radiologyReadData/hippocampal_atrophy" value="not able to assess" #if($item.getProperty("rad:radiologyReadData/hippocampal_atrophy").equals("not able to assess")) checked #end>not able to assess</label></td></tr>
							#set( $leu =  "rad:radiologyReadData/leukoaraiosis")
							#set($leui = "$!{item.getProperty($leu)}")
							<tr><td>Leukoaraiosis</td><td><label><input type="radio" name="rad:radiologyReadData/leukoaraiosis" value="not able to assess"  #if($item.getProperty("rad:radiologyReadData/leukoaraiosis").equals("none")) checked #elseif($leui == "") checked #end>none</label><label><input type="radio" name="rad:radiologyReadData/leukoaraiosis" value="mild" #if($item.getProperty("rad:radiologyReadData/leukoaraiosis").equals("mild")) checked #end>mild</label><label><input type="radio" name="rad:radiologyReadData/leukoaraiosis" value="moderate" #if($item.getProperty("rad:radiologyReadData/leukoaraiosis").equals("moderate")) checked #end>moderate</label><label><input type="radio" name="rad:radiologyReadData/leukoaraiosis" value="severe" #if($item.getProperty("rad:radiologyReadData/leukoaraiosis").equals("severe")) checked #end>severe</label><label><input type="radio" name="rad:radiologyReadData/leukoaraiosis" value="not able to assess" #if($item.getProperty("rad:radiologyReadData/leukoaraiosis").equals("not able to assess")) checked #end>not able to assess</label></td></tr>
							#set( $cor =  "rad:radiologyReadData/cortical_atrophy")
							#set($cori = "$!{item.getProperty($cor)}")
							<tr bgcolor="#F0F0F0"><td>Cortical Atrophy</td><td><label><input type="radio" name="rad:radiologyReadData/cortical_atrophy" value="not able to assess"  #if($item.getProperty("rad:radiologyReadData/cortical_atrophy").equals("none")) checked #elseif($cori == "") checked #end>none</label><label><input type="radio" name="rad:radiologyReadData/cortical_atrophy" value="mild" #if($item.getProperty("rad:radiologyReadData/cortical_atrophy").equals("mild")) checked #end>mild</label><label><input type="radio" name="rad:radiologyReadData/cortical_atrophy" value="moderate" #if($item.getProperty("rad:radiologyReadData/cortical_atrophy").equals("moderate")) checked #end>moderate</label><label><input type="radio" name="rad:radiologyReadData/cortical_atrophy" value="severe" #if($item.getProperty("rad:radiologyReadData/cortical_atrophy").equals("severe")) checked #end>severe</label><label><input type="radio" name="rad:radiologyReadData/cortical_atrophy" value="not able to assess" #if($item.getProperty("rad:radiologyReadData/cortical_atrophy").equals("not able to assess")) checked #end>not able to assess</label></td></tr>
							#set( $lin =  "rad:radiologyReadData/large_infarcts")
							#set($lini = "$!{item.getProperty($lin)}")
							<tr><td>Large Infarct</td><td><label><input type="radio" name="rad:radiologyReadData/large_infarcts" value="-1" #if($item.getProperty("rad:radiologyReadData/large_infarcts")==0) checked #elseif($lini == "") checked #end>0</label><label><input type="radio" name="rad:radiologyReadData/large_infarcts" value="1" #if($item.getProperty("rad:radiologyReadData/large_infarcts")==1) checked #end>1</label><label><input type="radio" name="rad:radiologyReadData/large_infarcts" value="2" #if($item.getProperty("rad:radiologyReadData/large_infarcts")==2) checked #end>2</label><label><input type="radio" name="rad:radiologyReadData/large_infarcts" value="3" #if($item.getProperty("rad:radiologyReadData/large_infarcts")==3) checked #end>3+</label><label><input type="radio" name="rad:radiologyReadData/large_infarcts" value="-1" #if($item.getProperty("rad:radiologyReadData/large_infarcts")==-1) checked #end>not able to assess</label></td></tr>
							#set( $sin =  "rad:radiologyReadData/small_infarcts")
							#set($sini = "$!{item.getProperty($sin)}")
							<tr bgcolor="#F0F0F0"><td>Small Infarct (<1 cm)</td><td><label><input type="radio" name="rad:radiologyReadData/small_infarcts" value="-1" #if($item.getProperty("rad:radiologyReadData/small_infarcts")==0) checked #elseif($sini == "") checked #end>0</label><label><input type="radio" name="rad:radiologyReadData/small_infarcts" value="1" #if($item.getProperty("rad:radiologyReadData/small_infarcts")==1) checked #end>1</label><label><input type="radio" name="rad:radiologyReadData/small_infarcts" value="2" #if($item.getProperty("rad:radiologyReadData/small_infarcts")==2) checked #end>2</label><label><input type="radio" name="rad:radiologyReadData/small_infarcts" value="3" #if($item.getProperty("rad:radiologyReadData/small_infarcts")==3) checked #end>3+</label><label><input type="radio" name="rad:radiologyReadData/small_infarcts" value="-1" #if($item.getProperty("rad:radiologyReadData/small_infarcts")==-1) checked #end>not able to assess</label></td></tr>
							#set( $mic =  "rad:radiologyReadData/microbleeds")
							#set($mici = "$!{item.getProperty($mic)}")
							<tr><td>Microbleeds</td><td><label><input type="radio" name="rad:radiologyReadData/microbleeds" value="-1" #if($item.getProperty("rad:radiologyReadData/microbleeds")==0) checked #elseif($mici == "") checked #end>0</label><label><input type="radio" name="rad:radiologyReadData/microbleeds" value="1" #if($item.getProperty("rad:radiologyReadData/microbleeds")==1) checked #end>1-4</label><label><input type="radio" name="rad:radiologyReadData/microbleeds" value="5" #if($item.getProperty("rad:radiologyReadData/microbleeds")==5) checked #end>5-10</label><label><input type="radio" name="rad:radiologyReadData/microbleeds" value="11" #if($item.getProperty("rad:radiologyReadData/microbleeds")==11) checked #end>&gt;11</label><label><input type="radio" name="rad:radiologyReadData/microbleeds" value="-1" #if($item.getProperty("rad:radiologyReadData/microbleeds")==-1) checked #end>not able to assess</label></td></tr>
							<tr id="site_microbleeds" style="display:none;"><td>Site of Microbleeds</td><td><label><input type="radio" name="rad:radiologyReadData/site_microbleeds" value="subcortical" #if($item.getProperty("rad:radiologyReadData/site_microbleeds").equals("subcortical")) #end>subcortical</label><label><input type="radio" name="rad:radiologyReadData/site_microbleeds" value="deep" #if($item.getProperty("rad:radiologyReadData/site_microbleeds").equals("deep")) checked #end>deep</label><label><input type="radio" name="rad:radiologyReadData/site_microbleeds" value="mixed" #if($item.getProperty("rad:radiologyReadData/site_microbleeds").equals("mixed")) checked #end>mixed</label><label><input type="radio" name="rad:radiologyReadData/site_microbleeds" value="not able to assess" #if($item.getProperty("rad:radiologyReadData/site_microbleeds").equals("not able to assess")) checked #end>not able to assess</label><label style="display:none;"><input type="radio" name="rad:radiologyReadData/site_microbleeds" value="NULL" #if($item.getProperty("rad:radiologyReadData/site_microbleeds").equals("NULL")) #end>NULL</label></td></tr>
							#set( $lac =  "rad:radiologyReadData/lacunes")
							#set($laci = "$!{item.getProperty($lac)}")
##							<tr bgcolor="#F0F0F0"><td>Lacunes</td><td><label><input type="radio" name="rad:radiologyReadData/lacunes" value="not able to assess" #if($item.getProperty("rad:radiologyReadData/lacunes").equals("none")) checked #elseif($laci == "") checked #end>none</label><label><input type="radio" name="rad:radiologyReadData/lacunes" value="One" #if($item.getProperty("rad:radiologyReadData/lacunes").equals("One")) checked #end>one</label><label><input type="radio" name="rad:radiologyReadData/lacunes" value="Several" #if($item.getProperty("rad:radiologyReadData/lacunes").equals("Several")) checked #end>several</label></td></tr>
							<tr><td>Other Significant Findings</td><td>#xdatBooleanRadioYesNo("rad:radiologyReadData/other_significant_findings" $item 1 $vr)</td></tr>

##   							<tr bgcolor="#F0F0F0">
##							#set( $nmms = ["none" , "mild", "moderate", "severe"])
##							#set( $zeroonetwothree = ["0","1","2","3"])
##							#set( $zeroonetwothreeplus = ["0","1","2","3+"])
##							#set( $microbleeds_key = ["0","1-4","5-10","&gt;11"])
##							#set( $microbleeds_values = ["0","1","5","11"])
##							#set( $site_microbleeds_values = ["subcortical", "deep", "mixed", "not able to assess"])
##							#set( $nos = ["none", "one", "several"])
##							<tr><td>Hippocampal Atrophy</td><td>#xdatRadioButtonGroupMap("rad:radiologyReadData/hippocampal_atrophy" $item $nmms $nmms $vr)</td></tr>
##							<tr><td>Leukoaraiosis</td><td>#xdatRadioButtonGroupMap("rad:radiologyReadData/leukoaraiosis" $item $nmms $nmms $vr)</td></tr>
##							<tr><td>Cortical Atrophy</td><td>#xdatRadioButtonGroupMap("rad:radiologyReadData/cortical_atrophy" $item $nmms $nmms $vr)</td></tr>
##							<tr><td>Large Infarct</td><td>#xdatRadioButtonGroupMap("rad:radiologyReadData/large_infarcts" $item $zeroonetwothreeplus $zeroonetwothree $vr)</td></tr>
##							<tr><td>Small Infarct (<1 cm)</td><td>#xdatRadioButtonGroupMap("rad:radiologyReadData/small_infarcts" $item $zeroonetwothreeplus $zeroonetwothree $vr)</td></tr>
##							<tr><td>Microbleeds</td><td>#xdatRadioButtonGroupMap("rad:radiologyReadData/microbleeds" $item $microbleeds_key $microbleeds_values $vr)</td></tr>
##							<tr id="site_microbleeds" style="display:none;"><td>Site of Microbleeds</td><td>#xdatRadioButtonGroupMap("rad:radiologyReadData/site_microbleeds" $item $site_microbleeds_values $site_microbleeds_values $vr)</td></tr>
##							<tr><td>Lacunes</td><td>#xdatRadioButtonGroupMap("rad:radiologyReadData/lacunes" $item $nos $nos $vr)</td></tr>
##							<tr><td>Other Significant Findings</td><td>#xdatBooleanRadioYesNo("rad:radiologyReadData/other_significant_findings" $item 1 $vr)</td></tr>
						</table>
					</td>
				</tr>
				
                <tr><td valign="top" style="padding-top: 4px">Additional Findings</td><td>#xdatTextArea("rad:radiologyReadData/finding" $item "" $vr 4 40)</td>

				<tr><td>&nbsp;</td><td>
					<table>
						<tr bgcolor="#F0F0F0"><td>Aging Changes</td><td><label><input type="radio" name="rad:radiologyReadData/aging_changes" value="Normal" #if($item.getProperty("rad:radiologyReadData/aging_changes")=="normal") checked #end>normal</label><label><input type="radio" name="rad:radiologyReadData/aging_changes" value="None" #if($item.getProperty("rad:radiologyReadData/aging_changes")=="none") checked #end>none</label><label><input type="radio" name="rad:radiologyReadData/aging_changes" value="Mild" #if($item.getProperty("rad:radiologyReadData/aging_changes")=="mild") checked #end>mild</label><label><input type="radio" name="rad:radiologyReadData/aging_changes" value="Moderate" #if($item.getProperty("rad:radiologyReadData/aging_changes")=="moderate") checked #end>moderate</label><label><input type="radio" name="rad:radiologyReadData/aging_changes" value="Severe" #if($item.getProperty("rad:radiologyReadData/aging_changes")=="severe") checked #end>severe</label></td></tr>
					</table>
					</td>
				</tr>
				
                <tr><td valign="top" style="padding-top: 4px">Diagnosis/Impression</td><td>#xdatTextArea("rad:radiologyReadData/diagnosis" $item "" $vr 4 40)</td></tr>

##                #set($statusOptions = ["normal", "abnormal"])
                <tr><td valign="top" style="padding-top: 4px">Status</td><td>
##				#if($item.getProperty("rad:radiologyReadData/finding/normal_status")==1)
##					<input type="radio" name="rad:radiologyReadData/finding/normal_status" value="1"/>&nbsp;normal<input type="radio" name="rad:radiologyReadData/finding/normal_status" value="0" CHECKED/>&nbsp;abnormal</td></tr>
##                #else
##					<input type="radio" name="rad:radiologyReadData/finding/normal_status" value="1" CHECKED/>&nbsp;normal<input type="radio" name="rad:radiologyReadData/finding/normal_status" value="0"/>&nbsp;abnormal</td></tr>
##                #end
	#if ($vr)
		#if($vr.getField("rad:radiologyReadData/finding/normal_status"))
            <span style="color:red;">&#8658</span>
		#end
	#end
	#set($value = $!item.getBooleanProperty("rad:radiologyReadData/finding/normal_status"))
## The hidden box is necessary to submit a "true" value if the checkbox is unchecked
## If the checkbox is checked, its true value will override the hidden's "false" value
    <input id="rad:radiologyReadData/finding/normal_status" type="checkbox"  onclick="return statusToggle();" name="rad:radiologyReadData/finding/normal_status" value="1" /> <span id="abnormalText">abnormal</span>
    <input type="hidden" name="rad:radiologyReadData/finding/normal_status" value="0" #if(! $value) checked #end />

    <tr><td valign="top" style="padding-top: 4px">Recommend Further Eval</td>
	#if ($vr)
		#if($vr.getField("rad:radiologyReadData/followup_recommended"))
            <span style="color:red;">&#8658</span>
		#end
	#end
	#set($value = $!item.getBooleanProperty("rad:radiologyReadData/followup_recommended"))
## The hidden box is necessary to submit a "false" value if the checkbox is unchecked
## If the checkbox is checked, its true value will override the hidden's "false" value
    <td><input id="rad:radiologyReadData/followup_recommended" type="checkbox"  onclick="return followupRecommendedToggle();" name="rad:radiologyReadData/followup_recommended" value="1" #if($value) checked #end />
    <input type="hidden" name="rad:radiologyReadData/followup_recommended" value="0" />
				</td></tr>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<input type="hidden" name="project" value="$!project"/>
		<TR><TD COLSPAN=2 ALIGN=left>
		#if($item.getProperty("label"))
			<input type="submit" onclick="return validateRadRead();" name="eventSubmit_doPerform" value="Submit"/>
		#else
			<input type="button" onclick="validateForm();"  name="eventSubmit_doInsert" value="Submit" />
		#end
		
		</TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
var includeAutocompleteFindings = $includeAutocompleteFindings;
var includeAutocompleteDiagnosis = $includeAutocompleteDiagnosis;


var form = document.getElementById('form1');
var i = 0;
var hippocampal_atrophy = document.getElementsByName('rad:radiologyReadData/hippocampal_atrophy');
var leukoaraiosis = document.getElementsByName('rad:radiologyReadData/leukoaraiosis');
var cortical_atrophy = document.getElementsByName('rad:radiologyReadData/cortical_atrophy')
var large_infarcts = document.getElementsByName('rad:radiologyReadData/large_infarcts')
var small_infarcts = document.getElementsByName('rad:radiologyReadData/small_infarcts')
var microbleeds = document.getElementsByName('rad:radiologyReadData/microbleeds');
var lacunes = document.getElementsByName('rad:radiologyReadData/lacunes');
var other_significant_findings = document.getElementsByName('rad:radiologyReadData/other_significant_findings');
var aging_changes = document.getElementsByName('rad:radiologyReadData/aging_changes');

var findings = document.getElementById('rad:radiologyReadData/finding');
var diagnosis = document.getElementById('rad:radiologyReadData/diagnosis');

var lacunesString; // need to pass lacunes findings from findings to diagnosis.

var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1;
var yyyy = today.getFullYear();
var dropdownList = document.getElementsByTagName('select');
for(var x=0;x < dropdownList.length ; x++){
	if(dropdownList[x].name=="SEL_rad:radiologyReadData/exam"){
		if(dropdownList[x].selectedIndex==0){
			if(document.getElementById('rad:radiologyReadData/exam').value==""){
				dropdownList[x].selectedIndex = 2;
			}
			else{
				dropdownList[x].selectedIndex = dropdownList[x].length-1;
			}
			dropdownList[x].onchange();
		}
	}
}


function noFindingsCheck() {
	var hasFindings = false;
    for (var i = 0, length = hippocampal_atrophy.length; i < length; i++) {
        if (hippocampal_atrophy[i].checked) {
            if(hippocampal_atrophy[i].value!="None"){
                hasFindings=true;
			}
			break;
        }
    }
	if(!hasFindings){
        for (var i = 0, length = leukoaraiosis.length; i < length; i++) {
            if (leukoaraiosis[i].checked) {
                if(leukoaraiosis[i].value!="None"){
                    hasFindings=true;
                }
                break;
            }
        }
	}
    if(!hasFindings){
        for (var i = 0, length = cortical_atrophy.length; i < length; i++) {
            if (cortical_atrophy[i].checked) {
                if(cortical_atrophy[i].value!="None"){
                    hasFindings=true;
                }
                break;
            }
        }
    }
    if(!hasFindings){
        for (var i = 0, length = large_infarcts.length; i < length; i++) {
            if (large_infarcts[i].checked) {
                if(large_infarcts[i].value!=0){
                    hasFindings=true;
                }
                break;
            }
        }
    }
    if(!hasFindings){
        for (var i = 0, length = small_infarcts.length; i < length; i++) {
            if (small_infarcts[i].checked) {
                if(small_infarcts[i].value!=0){
                    hasFindings=true;
                }
                break;
            }
        }
    }
    if(!hasFindings){
        for (var i = 0, length = microbleeds.length; i < length; i++) {
            if (microbleeds[i].checked) {
                if(microbleeds[i].value!=0){
                    hasFindings=true;
                }
                break;
            }
        }
    }
    if(!hasFindings){
        for (var i = 0, length = lacunes.length; i < length; i++) {
            if (lacunes[i].checked) {
                if(lacunes[i].value!="None"){
                    hasFindings=true;
                }
                break;
            }
        }
    }
    if(!hasFindings){
        for (var i = 0, length = other_significant_findings.length; i < length; i++) {
            if (other_significant_findings[i].checked) {
                if(other_significant_findings[i].value!=0){
                    hasFindings=true;
                }
                break;
            }
        }
    }
    if(!hasFindings){
        for (var i = 0, length = aging_changes.length; i < length; i++) {
            if (aging_changes[i].checked) {
                if(aging_changes[i].value!="None"){
                    hasFindings=true;
                }
                break;
            }
        }
    }
//	if(hasFindings) {
//		if(document.getElementById('rad:radiologyReadData/diagnosis').value == "No significant incidental findings.") {
//            document.getElementById('rad:radiologyReadData/diagnosis').value = "";
//        }
//    }
//	else{
//        document.getElementById('rad:radiologyReadData/diagnosis').value = "No significant incidental findings.";
//	}

}

function validateForm()
{
	//INSERT CUSTOM CONTENT HERE
	validateRadRead();
	validateExperimentForm();
	return false;
}

function validateRadRead()
{
	if(document.getElementById('rad:radiologyReadData/exam').value==""){
		alert("You must specify the type of exam. Please select one or enter a custom one and submit again.");
		return false;
	}

	if(document.getElementById('rad:radiologyReadData/finding/normal_status').checked){
	   document.getElementById('rad:radiologyReadData/finding/normal_status').checked=false;
	}
        else {
           document.getElementById('rad:radiologyReadData/finding/normal_status').checked=true;
        }
}

function statusToggle()
{
    if(document.getElementById('rad:radiologyReadData/followup_recommended').checked){
		return false;
	}
}


function followupRecommendedToggle()
{
    if(document.getElementById('rad:radiologyReadData/followup_recommended').checked){
        //auto-check status checkbox and grey it out
        document.getElementById('rad:radiologyReadData/finding/normal_status').checked=true;
        document.getElementById('rad:radiologyReadData/finding/normal_status').readonly=true;
		document.getElementById('rad:radiologyReadData/finding/normal_status').style.opacity="0.5";
		document.getElementById('abnormalText').style.opacity="0.5";
    }
	else{
		//make status check box no longer grayed out
        document.getElementById('rad:radiologyReadData/finding/normal_status').readonly=false;
		document.getElementById('rad:radiologyReadData/finding/normal_status').style.opacity="1";
		document.getElementById('abnormalText').style.opacity="1";
	}
}



function sessionComparison() {
	for(var c=0;c < dropdownList.length; c++){
		if(dropdownList[c].name=="SEL_rad:radiologyReadData/comparison"){
			if((dropdownList[c].selectedIndex!=0)&&(dropdownList[c].selectedIndex!=dropdownList[c].length-1) && document.getElementById('rad:radiologyReadData/comparison').value!=""){
				window.open( serverRoot+"/data/archive/projects/${item.getProperty("project")}/subjects/${mr.getSubjectData().getLabel()}/experiments/"+document.getElementById('rad:radiologyReadData/comparison').value);
			}
		}
	}
}

function setTextHippocampalAtrophy() {
    noFindingsCheck();
	if(includeAutocompleteFindings){
		var form = this.form;
		if(!(this.value==="None")){
			document.getElementById('rad:radiologyReadData/finding').value = document.getElementById('rad:radiologyReadData/finding').value+this.value+" hippocampal atrophy. ";
		}
	}
}  

function setTextLeukoaraiosis() {
    noFindingsCheck();
	if(includeAutocompleteFindings){
		var form = this.form;
        if(!(this.value==="None")){
			findings.value += this.value+" Leukoaraiosis. ";
		}
	}
}

function setTextLacunes() {
    noFindingsCheck();
	if(includeAutocompleteFindings){
		var form = this.form;
		if(this.value==="One"){
			findings.value += "Single lacune observed in ... ";
            findings.focus();
            createSelection (findings, findings.value.length-4, findings.value.length-1); // optional: select the ellipses to prompt user to complete finding.
		}
		else if(!(this.value==="None")){
			findings.value += "Multiple lacunes observed in ... ";
            findings.focus();
            createSelection (findings, findings.value.length-4, findings.value.length-1); // optional: select the ellipses to prompt user to complete finding.
        }
	}
	if(this.value==="One"){
        lacunesString = " with a lacune. ";
	}
	else if(!(this.value==="None")){
        lacunesString = " with multiple lacunes. ";
	}
}  
function setTextAgingChanges() {
    noFindingsCheck();
	if(includeAutocompleteDiagnosis){
		var form = this.form;
		var stringToAdd='';
        if(this.value==="normal") {
            stringToAdd = "Normal. ";
        }
		else if(this.value==="none"){
            stringToAdd="No aging changes. ";
        }
		else if (this.value){
			stringToAdd=this.value+" aging changes. ";
		}
        if(stringToAdd.length>0) {
            var reg = /Normal\. |No aging changes\. |Mild aging changes\. |Moderate aging changes\. |Severe aging changes\. /g;
            var firstMatch = reg.exec(document.getElementById('rad:radiologyReadData/diagnosis').value);
            if(firstMatch==null){
                document.getElementById('rad:radiologyReadData/diagnosis').value+=stringToAdd;
            }
			else{
                var matchIndex = firstMatch.index;
				//One or more of the auto-generated strings were found. Remove them and put the correct auto-generated string at the location that the first such string was found at.
				document.getElementById('rad:radiologyReadData/diagnosis').value = document.getElementById('rad:radiologyReadData/diagnosis').value.replace(reg, '');
                document.getElementById('rad:radiologyReadData/diagnosis').value = document.getElementById('rad:radiologyReadData/diagnosis').value.slice(0, matchIndex) + stringToAdd + document.getElementById('rad:radiologyReadData/diagnosis').value.slice(matchIndex);
			}

        }

	}
}

function setTextCorticalAtrophy() {
    noFindingsCheck();
    if(includeAutocompleteFindings){
        var form = this.form;
        if(!(this.value==="None")){
            findings.value += this.value+" Cortical Atrophy. ";
        }
    }
}

function setTextMicrobleeds() {
    noFindingsCheck();
    var microbleed_value = "0";
    for (var i = 0, length = microbleeds.length; i < length; i++) {
        if (microbleeds[i].checked) {
            microbleed_value = microbleeds[i].value;
		}
	}
	if(microbleed_value!="0"){
        document.getElementById("site_microbleeds").setAttribute("style", "");
    }
	else{
        document.getElementById("site_microbleeds").setAttribute("style","display:none;");
        var siteMicrobleedOptions = document.getElementsByName('rad:radiologyReadData/site_microbleeds');
        var radioOption;
        var x = 0;
        for(x = 0; x < siteMicrobleedOptions.length; x++){
			if(siteMicrobleedOptions[x].value!="NULL") {
                siteMicrobleedOptions[x].checked = false;
            }
			else{
                siteMicrobleedOptions[x].checked = true;
			}
        }
    }
    if(includeAutocompleteFindings){
        var form = this.form;
        if(!(this.value==="None")){
            findings.value += this.value+" Microbleeds. ";
        }
    }
}

function setTextLargeInfarcts() {
    noFindingsCheck();
}

function setTextSmallInfarcts() {
    noFindingsCheck();
}

function setTextOtherSignificantFindings() {
    noFindingsCheck();
}

// special function to select the end of a string in a text field. Adapted from StackOverflow example: http://stackoverflow.com/questions/646611/programmatically-selecting-partial-text-in-an-input-field
function createSelection(field, start, end) {
    if( field.createTextRange ) {
        var selRange = field.createTextRange();
        selRange.collapse(true);
        selRange.moveStart('character', start);
        selRange.moveEnd('character', end);
        selRange.select();
    } else if( field.setSelectionRange ) {
        field.setSelectionRange(start, end);
    } else if( field.selectionStart ) {
        field.selectionStart = start;
        field.selectionEnd = end;
    }
    field.focus();
}

function comparisonSubmit() {
	 var randNum = Math.floor(Math.random()*1000000000);
	 popup=window.open(serverRoot+'/app/action/QuickSearchAction', 'QuickSearch'+randNum);

	 var form = document.createElement("form");
	 form.target= 'QuickSearch'+randNum;
	 form.action = serverRoot+'/app/action/QuickSearchAction';
	 var searchVal = document.createElement("input");
	 searchVal.setAttribute("name","searchValue");
	 searchVal.setAttribute("value", document.getElementById('rad:radiologyReadData/comparison').value);
	 form.appendChild(searchVal);

	 form.submit();	 
}

for (i = 0; i < hippocampal_atrophy.length; i++) {
    hippocampal_atrophy[i].onclick = setTextHippocampalAtrophy;
}
for (i = 0; i < leukoaraiosis.length; i++) {
    leukoaraiosis[i].onclick = setTextLeukoaraiosis;
}
for (i = 0; i < lacunes.length; i++) {
    lacunes[i].onclick = setTextLacunes;
}
for (i = 0; i < aging_changes.length; i++) {
    aging_changes[i].onclick = setTextAgingChanges;
}
for (i = 0; i < cortical_atrophy.length; i++) {
    cortical_atrophy[i].onclick = setTextCorticalAtrophy;
}
for (i = 0; i < microbleeds.length; i++) {
    microbleeds[i].onclick = setTextMicrobleeds;
}
for (i = 0; i < large_infarcts.length; i++) {
    large_infarcts[i].onclick = setTextLargeInfarcts;
}
for (i = 0; i < small_infarcts.length; i++) {
    small_infarcts[i].onclick = setTextSmallInfarcts;
}
for (i = 0; i < other_significant_findings.length; i++) {
    other_significant_findings[i].onclick = setTextOtherSignificantFindings;
}
//If editing a Rad Read with non-empty custom comparison, select CUSTOM from dropdown
if((document.getElementById('SEL_rad:radiologyReadData/comparison').selectedIndex==0) && (document.getElementById('rad:radiologyReadData/comparison').value!="")){
	document.getElementById('SEL_rad:radiologyReadData/comparison').selectedIndex=document.getElementById('SEL_rad:radiologyReadData/comparison').length-1;
	document.getElementById('SEL_rad:radiologyReadData/comparison').onchange();
}

$(document).ready(function() {
	var microbleed_value = "0";
	for (var i = 0, length = microbleeds.length; i < length; i++) {
		if (microbleeds[i].checked) {
            microbleed_value = microbleeds[i].value;
		}
	}
  if(microbleed_value!="0"){
      document.getElementById("site_microbleeds").setAttribute("style", "");
  }
  noFindingsCheck();
    followupRecommendedToggle();

  $(window).keydown(function(event){
    if(event.keyCode == 13 && !($('textarea').is(":focus"))) {
      event.preventDefault();
      return false;
    }
  });
});
</script>